*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}
body{
    background-color: #141d2f;
    color: #fefefe;
    font-size: 13px;
    width: 100%;
    height: 100vh;
    position: relative;
}

:root {
  --card-bg: #ffffff;
  --bg-color: #141d2f;
  --card-color: #0b1324;
  --text-color: #ffffff;
  --number-color: #20428a;
  --muted-text: #555;
}

.light {
  --bg-color: #f2f2f2;
  --card-color: #ffffff;
  --text-color: #000000;
}
.dark{
    --card-bg: #152341;
  --text-color: #ffffff;
  --muted-text: #b1a7a7;
  --number-color: #3b82f6;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* update card bg to use variable */
.profile-container {
  background: var(--card-color);
}


.search-input::placeholder{ color: #fefefe; }


.profile-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    height: 100px;
    width: 500px;
    border-radius: 10px;
    /* background: #141d2f; */
    background: var(--card-bg);
    color: var(--text-color);
    font-size: 13px;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 0 16px 30px -10px rgba(0,0,0,0.2);
}
/* .profile-stats p{
  color: var(--text-color);
} */

.stats {
    color: #1b47a4;
     /* color: var(--text-color); */
    font-size: 30px;
    font-weight: 800;
}
.profile-repos{
    color: #1b47a4;
}
.profile-followers{
    color: #1b47a4;
}
.profile-following{
    color: #1b47a4;
}
.profile-info {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    gap: 80px;
}
.profile-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    margin-top: 30px;
}
.twitter-link {
    background-color: #141d2f;
    width: 300px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fefefe;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 16px 30px -10px rgba(0,0,0,0.2);
}
.profile-url {
    background-color: #141d2f;
    width: 300px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fefefe;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 16px 30px -10px rgba(0,0,0,0.2);
}
@media (max-width: 900px) {
    .main-heading {
        font-size: 25px;
    }
    .search-input {
        width: 400px;
    }
    .profile-container {
        width: 500px;
    }
    .profile-avatar {
        width: 80px;
    }
    .profile-des {
        width: 350px;
        gap: 50px;
    }
    .profile-name {
        font-size: 15px;
    }
    .profile-created {
        font-size: 13px;
    }
    .profile-username {
        font-size: 13px;
        margin-left: 10px;
    }
    .profile-bio {
        font-size: 12px;
        margin: 40px 60px 20px 5px;
    }
    .profile-stats {
        width: 330px;
    }
    .stats {
        font-size: 25px;
    }
    .profile-info {
        gap: 40px;
    }
    .profile-location {
        font-size: 12px;
    }
    .profile-company {
        font-size: 12px;
    }
    .twitter-link {
        width: 200px;
        font-size: 12px;
    }
    .profile-url {
        width: 200px;
        font-size: 12px;
    }
  }

  @media (max-width: 590px) {
    .main-heading {
        font-size: 20px;
    }
    .search-input {
        width: 250px;
    }
    .search-btn {
        width: 80px;
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .profile-container {
        width: 400px;
    }
    .profile-avatar {
        width: 50px;
    }
    .profile-des {
        width: 280px;
        gap: 40px;
    }
    .profile-name {
        font-size: 12px;
    }
    .profile-created {
        font-size: 11px;
    }
    .profile-username {
        font-size: 10px;
        margin-left: 10px;
    }
    .profile-bio {
        font-size: 10px;
        margin: 40px 60px 20px 5px;
    }
    .profile-stats {
        width: 250px;
        font-size: 10px;
    }
    .stats {
        font-size: 18px;
    }
    .profile-info {
        gap: 20px;
    }
    .profile-location {
        font-size: 10px;
    }
    .profile-company {
        font-size: 10px;
    }
    .twitter-link {
        width: 180px;
        font-size: 10px;
    }
    .profile-url {
        width: 180px;
        font-size: 10px;
    }
  }


